body{
    font-family: 'Times New Roman', Times, serif;
}

.container {
    min-height: 100vh;
    color: white;
}

h1 {
    font-size: 4rem;
    letter-spacing: 4px;
}
p {
    letter-spacing: 1.5px;

}

section {
    background-image: url(../priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg);
    background-position: center center;
    background-size: cover;
}

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

button {
    background-color: #09c;
}